node_modules/
dist/
coverage

*.sw*

npm-debug.log
logs
*.log
npm-debug.log*
.eslintcache
/coverage
/local
/reports
.DS_Store
Thumbs.db
.idea
.cache
.temp
*.iml
.vscode
*.sublime-project
*.sublime-workspace
